{% extends "base.html" %}

{% block content %}
    <div class="c-align">
        <div class="header-actions-panel">
    <a class="logo logo--main-page" href="{% url 'home' %}"><!----></a>
    <span class="slogan"><!----></span>

    <div class="user-actions-panel">
        <div class="authorization-panel">
            {% if request.user.is_authenticated %}
                <span class="inner-head__user-status__title">Вы вошли на сайт как:</span>
                <span class="inner-head__user-status__name">
                    <a href="{% url 'profile' %}">
                        {{ request.user.get_full_name }}
                    </a>
                </span>

                <a href="{% url 'logout' %}" class="inner-head__user-status__logout">ВЫЙТИ</a>

            {% else %}
                <a class="authorization-button" href="{% url 'post_form_home' 'login' %}#authorization">
                    <strong>ВОЙТИ</strong></a><span class="user-actions-panel__small-text"> или</span>
                <a class="authorization-button" href="{% url 'home' %}#authorization">
                    <strong>ЗАРЕГИСТРИРОВАТЬСЯ</strong>
                </a>
            {% endif %}
        </div>
        <div class="feedback-block">
            <span class="user-actions-panel__small-text">Обратная связь</span>
            <strong>+375(29)70-100-20</strong>
            <a href="mailto:igra@onega.by"><strong>igra@onega.by</strong></a>
            <ul class="social">
                <li class="social__item"><a target="_blank" href="http://vk.com/onega_by"
                                            class="social__link social__link--vk"><!----></a></li>
                <li class="social__item"><a target="_blank" href="https://twitter.com/hashtag/igraonega"
                                            class="social__link social__link--tw"><!----></a></li>
            </ul>
        </div>
    </div>

    <div class="promo-step promo-step--one">
        <a class="promo-imgs promo-imgs--onega2" href="#"><!----></a>
        <span class="promo-step__number promo-step__number--one">1</span>

        <p class="promo-step__text promo-step__text--one">
            Купи любую акционную пачку чипсов<br>
            Онега 25 гр, 75 гр, 60 гр, 50 гр, 100 гр с<br>
            акционной лентой или ярлыком.<br>
            <strong>Найди внутри промо-код</strong>
        </p>
    </div>

    <div class="promo-step promo-step--two">
        <span class="promo-step__number promo-step__number--two">2</span>

        <p class="promo-step__text promo-step__text--two">
            <strong>Зарегистрируй</strong><br>
            <strong>с 9 июня по 20 июля</strong><br>
            промо-код на нашем сайте
        </p>
    </div>

    <div class="promo-step promo-step--three">
        <a href="#" class="promo-imgs promo-imgs--bag"><!----></a>

        <p class="promo-step__title">КАК ИГРАТЬ?</p>
        <a class="promo-imgs promo-imgs--gamak" href="#"><!----></a>
        <span class="promo-step__number promo-step__number--three">3</span>

        <p class="promo-step__text promo-step__text--three">
            <span class="label-wrap"><strong>Участвуй в розыгрыше призов</strong></span><br>
            (1000 фрисби, 1000 пляжных сумок, 600 пледов,<br>
            300 мячей, 60 гамаков)
        </p>
        <a class="link-blue link-blue--read-more read-more-rules-button" href="#">Читать подробные правила игры</a>
    </div>

    <a class="promo-imgs promo-imgs--onega1" href="#"><!----></a>
    <span class="promo-imgs promo-imgs--arrow-one"><!----></span>
    <span class="promo-imgs promo-imgs--arrow-two"><!----></span>
    <a href="#" class="promo-imgs promo-imgs--disc"><!----></a>
    <a href="#" class="promo-imgs promo-imgs--ball"><!----></a>

</div>

        <div class="enter-promo-block" id="reg-code">
            <h3 class="block-title">Процедура сброса пароля завершена!</h3>

            <div class="enter-promo">
                Пароль был изменен! Теперь можно вернуться <a href="{% url 'home' %}#authorization">на главную страницу</a>
            </div>
        </div>


    <div class="dark-bg-block dark-bg-block--inner-page">

        <div class="footer">
            <div class="c-align">
                <a href="#" class="footer__logo"><!-----></a>

                <p class="footer__text">
                    Рекламная игра проводится на территории Республики Беларусь. Организатор – ПОДО «Онега», УНН
                    600124575. Свидетельство о государственной регистрации рекламной игры №2364 от 15 мая 2014 г. Выдано
                    Министерством торговли Республики Беларусь. Срок рекламной игры: 09.06.2014 –01.08.2014
                </p>
                <ul class="footer__social social">
                    <li class="social__item"><a target="_blank" href="https://www.facebook.com/onega.by"
                                                class="social__link social__link--fb"><!----></a></li>
                    <li class="social__item"><a target="_blank" href="http://vk.com/onega_by"
                                                class="social__link social__link--vk"><!----></a></li>
                    <li class="social__item"><a target="_blank" href="https://twitter.com/by_onega"
                                                class="social__link social__link--tw"><!----></a></li>
                    <li class="social__item"><a target="_blank" href="https://www.youtube.com/Onega2012"
                                                class="social__link social__link--yt"><!----></a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
