{% load static %}
{% if codes %}
<div class="winners">
    <div class="winners__row winners__row--head">
        <div class="winners__col winners__col--1">
            &nbsp;
        </div>
        <div class="winners__col winners__col--2">
            № РОЗЫГРЫША
        </div>
        <div class="winners__col winners__col--3">
            ДАТА
        </div>
        <div class="winners__col winners__col--4">
            ФИО
        </div>
        <div class="winners__col winners__col--5">
            УНИКАЛЬНЫЙ №
        </div>
        <div class="winners__col winners__col--6">
            ПРИЗ
        </div>
    </div>
    <div class="winners__body">
        {% for code in codes %}
        <div class="winners__row">
            <div class="winners__col winners__col--1">
                {% if super_prize == code.prise_name.prise_name %}
                    <img src="{% static 'img/star.png' %}"/>
                {% else %}
                    &nbsp;
                {% endif %}
            </div>
            <div class="winners__col winners__col--2">
                {{ code.raffle.number }}-Й
            </div>
            <div class="winners__col winners__col--3">
                {{ code.raffle.date|date:'%d %B' }}
            </div>
            <div class="winners__col winners__col--4">{{ code.customer.surname }}
                {{ code.customer.first_name }}
                {{ code.customer.last_name }}
            </div>
            <div class="winners__col winners__col--5">{{ code.code }}</div>
            <div class="winners__col winners__col--6">
                {% if code.prise_name.name %}
                    {{ code.prise_name.name }}
                {% else %}
                    Не указан
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% if codes.paginator.num_pages > 1 %}
    <div class="nav nav--fix">
        {% if codes.has_previous %}
            <a class="nav__arrow nav__arrow--left" href="{% url 'home' %}?page={{ codes.previous_page_number }}{% if winners.email %}&email={{ winners.email }}{% endif %}#winners"><!----></a>
            <a class="nav__buttons nav__buttons--prev" href="{% url 'home' %}?page={{ codes.previous_page_number }}{% if winners.email %}&email={{ winners.email }}{% endif %}#winners">Предыдущая</a>
        {% endif %}
        {% for page in codes.paginator.page_range %}
            <a class="nav__numbers nav__numbers--fix
            {% if page == codes.pageinator.current %}nav__numbers--current{% endif %}"
               href="{% url 'home' %}?page={{ page }}{% if winners.email %}&email={{ winners.email }}{% endif %}#winners">{{ page }}</a>
        {% endfor %}
        {% if codes.has_next %}
            <a class="nav__buttons nav__buttons--next" href="{% url 'home' %}?page={{ codes.next_page_number }}{% if winners.email %}&email={{ winners.email }}{% endif %}#winners">Следующая</a>
            <a class="nav__arrow nav__arrow--right" href="{% url 'home' %}?page={{ codes.next_page_number }}{% if winners.email %}&email={{ winners.email }}{% endif %}#winners"><!----></a>
        {% endif %}
    </div>
{% endif %}

{% else %}

{% endif %}
