{% load thumbnail %}
<div class="gallery" id="photo">
    <h3 class="block-title">Фотогалерея</h3>

<div class="image-row">
    <div class="image-set">
    <ul>
        {% for thumb in photos %}
        <li>
            <a class="example-image-link" href="{{ MEDIA_URL }}/{{ thumb.photo }}" data-lightbox="example-set"
               data-title="Click the right half of the image to move forward.">
                <img class="example-image" src="{{ MEDIA_URL }}/{{ thumb.photo }}" alt=""/>
            </a>
            {% if thumb.link %}
                <a href="#" class="gallery_link">
                    {{ thumb.link }}
                </a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    </div>
</div>


{##}
{#    <div class="nav">#}
{#        <a class="nav__arrow nav__arrow--left" href="#"><!----></a>#}
{#        <a class="nav__buttons nav__buttons--prev" href="#">Предыдущая</a>#}
{#        {% for page in pages %}#}
{#            <a class="nav__numbers nav__numbers--current" href="#">1</a>#}
{#            <a class="nav__numbers" href="#">{{ page }}</a>#}
{#        {% endfor %}#}
{#        <a class="nav__buttons nav__buttons--next" href="#">Следующая</a>#}
{#        <a class="nav__arrow nav__arrow--right" href="#"><!----></a>#}
{#    </div>#}
</div>
