{% extends 'base.html' %}
{% block title %}Личный кабинет{% endblock %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{ form.code }}
        {{ form.code.errors }}
        <input type="submit" value="Добавить">
    </form>
    <table>
    {% for code in codes %}
        <tr>
            <td>{{ code.code }}</td><td>{{ code.added }}</td>
        </tr>
    {% empty %}
        <tr><td>
            Вы пока что не добавили ни одного промокода... Как это вам удалось?
        </td></tr>
    {% endfor %}
    </table>
{% endblock %}
