{% extends 'base.html' %}
{% block content %}
    <div class="c-align">
        <div class="inner-head">
            <a href="{% url 'home' %}" class="logo logo--inner-page"><!----></a>
            {% if to_the_end_of_phase != None %}
            <div class="inner-head__steps-info">
                <span class="inner-head__steps-info__title">До конца {{ current_phase }}-ого этапа:</span>
                <span class="inner-head__steps-info__days">{{ to_the_end_of_phase }} {{ days }}</span>
            </div>
            {% endif %}
            <div class="inner-head__user-status">
                <span class="inner-head__user-status__title">Вы вошли на сайт как:</span>
                <span class="inner-head__user-status__name">{{ request.user.get_full_name }}</span>
                <a href="{% url 'logout' %}" class="inner-head__user-status__logout">ВЫЙТИ</a>
            </div>
        </div>

        <div class="enter-promo-block" id="reg-code">
            <h3 class="block-title">Введите найденный вами промо-код</h3>

            <div class="enter-promo">
                {% if request.user.should_be_blocked %}
                    Вы ввели пять неверных кодов за последние сутки и пока что не можете указывать новые.
                {% else %}
                    <form method="post">
                        {% csrf_token %}
                        <div class="fill-field-wrap fill-field-wrap--with-arrow enter-promo__field">
                            {{ form.code }}
                        </div>
                        <input class="button enter-promo__button" value="Добавить промо-код" type="submit"/>
                    </form>
                {% endif %}
            </div>
        </div>

        <div class="your-promo">
            <h3 class="block-title">Ваши промо-коды</h3>
            <div class="your-list">
                {% for code in codes %}
                    <div class="your-list__row">
                        <div class="your-list__code">{{ code.code }}</div>
                        <div class="your-list__date">{{ code.added }}</div>
                    </div>
                {% empty %}
                    <div class="your-list__row">
                        Вы пока не добавили ни одного кода
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="alert">
            Обратите внимание (выдержка из правил):<br>
            "В случае если при регистрации Участник вводит 5 (пять) неверных Уникальных кодов в течение суток в поле
            ввода кода регистрационной формы на Интернет-сайте www.igra.onega.by данный Участник блокируется от участия
            в Рекламной игре на 24 часа. Если блокировка Участника происходит 3 (три) раза в период с 09.06.2014 по
            20.07.2014 включительно, данный Участник лишается права участвовать в Рекламной игре в дальнейшем."
        </div>

    </div>

    <div class="dark-bg-block dark-bg-block--inner-page">

        <div class="footer">
            <div class="c-align">
                <a href="#" class="footer__logo"><!-----></a>

                <p class="footer__text">
                    Рекламная игра проводится на территории Республики Беларусь. Организатор – ПОДО «Онега», УНН
                    600124575. Свидетельство о государственной регистрации рекламной игры №2364 от 15 мая 2014 г. Выдано
                    Министерством торговли Республики Беларусь. Срок рекламной игры: 09.06.2014 –01.08.2014
                </p>
            </div>
        </div>
    </div>
{% endblock %}
