{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        Онега | Вкусно перекуси - с удовольствием отдохни
    </title>
    <meta name="description" content="Наступило лето - пришло время для отдыха! Онега предлагает вкусно перекусить и с удовольствием отдохнуть в Европе! 24 путевки в Европу и 3000 других призов!">
    <meta name='yandex-verification' content='6828f1993f2bf49b' />
    <meta property="og:locale" content="ru_RU" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Онега | Вкусно перекуси - с удовольствием отдохни" />
    <meta property="og:description" content="Наступило лето - пришло время для отдыха! Онега предлагает вкусно перекусить и с удовольствием отдохнуть в Европе! 24 путевки в Европу и 3000 других призов!" />
    <meta property="og:url" content="http://igra.onega.by/" />
    <link rel="stylesheet" href="{% static 'css/custom-scroll.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="http://www.onega.by/public/i/favicon.ico">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>
<body>
<!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

<div class="header-menu-panel" id="rules">
    <div class="c-align">
        <ul class="header-menu">
            <li class="header-menu__item">

                <a class="header-menu__link" href="{% url 'prize' %}">Гарантированные призы</a>

            </li>

            <li class="header-menu__item"><a class="header-menu__link read-more-rules-button" href="#" contId="rules">Правила
                игры</a></li>

            <li class="header-menu__item">
                {% block reg_code_menu %}
                    <a class="header-menu__link" href="#reg-code" contId="reg-code">Регистрация кода</a>
                {% endblock %}
            </li>

            {% if is_video_enabled %}
                <li class="header-menu__item">
                    <a class="header-menu__link" href="{% url 'home' %}#video" contId="video">Видео-ролик</a>
                </li>
            {% endif %}
            {% if is_gallery_enabled %}
                <li class="header-menu__item">
                    <a class="header-menu__link" href="{% url 'home' %}#photo" contId="photo">
                        Фотоотчёты с мероприятий
                    </a>
                </li>
            {% endif %}
            {% if request.phase > 0 %}
                <li class="header-menu__item"><a class="header-menu__link" href="#"
                                                                            contId="winners">Розыгрыши и победители</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>

<div class="main-page-content-wrap">
    <div class="parallax-viewport" id="parallax">
        <div class="parallax-layer parallax-layer-small">
            <img src="{% static 'img/cloud-small.png' %}">
        </div>
        <div class="parallax-layer parallax-layer-cloud1">
            <img src="{% static 'img/cloud.png' %}">
        </div>
        <div class="parallax-layer parallax-layer-cloud2">
            <img src="{% static 'img/cloud.png' %}">
        </div>
        <div class="parallax-layer parallax-layer-cloud3">
            <img src="{% static 'img/cloud-big.png' %}">
        </div>
        <div class="parallax-layer parallax-layer-cloud4">
            <img src="{% static 'img/cloud-big.png' %}">
        </div>
    </div>
    {% block content %}{% endblock %}
</div>

<div class="popup-wrapper"><!----></div>
<div class="rules-popup">
<span class="close-button"><!----></span>

<h2 class="popup-title">ПРАВИЛА РЕКЛАМНОЙ ИГРЫ<br>«ОНЕГА. ВКУСНО ПЕРЕКУСИ – С УДОВОЛЬСТВИЕМ ОТДОХНИ!»</h2>

<div class="custom-scroll">
<div class="popup-content">
<p>Настоящие правила проведения рекламной игры «Онега. Вкусно перекуси – с удовольствием отдохни!» (далее – Правила),
    направленной на продвижение продукции, производимой под торговой маркой «Онега», разработаны в соответствии с
    Положением о проведении рекламных игр на территории Республики Беларусь, утвержденным Указом Президента Республики
    Беларусь от 30.01.2003 №51 (с изменениями и дополнениями), и определяют порядок проведения рекламной игры «Онега.
    Вкусно перекуси – с удовольствием отдохни!» (далее – Рекламная игра).</p>

<p>В настоящих Правилах нижеперечисленные термины имеют следующее значение:</p>

<p></p>

<p>Игровой продукт – товары, выпускаемые под товарным знаком «Онега» имеющие на лицевой стороне ленту или ярлык
    Рекламной игры «Онега. Вкусно перекуси – с удовольствием отдохни!», а именно:</p>

<p>• Чипсы «Онега» со вкусом сметаны и лука, 60 г;</p>

<p>• Чипсы «Онега» со вкусом сыра, 60 г;</p>

<p>• Снэки «Онега» со вкусом лука и сметаны, 25 г;</p>

<p>• Снэки «Онега» со вкусом лечо, 25 г;</p>

<p>• Снэки «Онега» со сыра, 25 г;</p>

<p>• Снэки «Онега» со вкусом пекинской утки, 25 г;</p>

<p>• Снэки «Онега» со вкусом лука и сметаны, 75 г;</p>

<p>• Снэки «Онега» со вкусом лечо, 75 г;</p>

<p>• Снэки «Онега» со сыра, 75 г;</p>

<p>• Снэки «Онега» со вкусом пекинской утки, 75 г;</p>

<p>• Чипсы картофельные «Онега» пластинки со вкусом лука и сметаны, 50 г;</p>

<p>• Чипсы картофельные «Онега» пластинки со вкусом сыра, 50 г;</p>

<p>• Чипсы картофельные «Онега» пластинки со вкусом курицы гриль, 50 г;</p>

<p>• Чипсы картофельные «Онега» пластинки со вкусом лука и сметаны, 100 г;</p>

<p>• Чипсы картофельные «Онега» пластинки со вкусом сыра, 100 г;</p>

<p>• Чипсы картофельные «Онега» пластинки со вкусом курицы гриль, 100 г;</p>

<p>• Чипсы картофельные «Онега» пластинки со вкусом маринованных огурчиков, 100 г;</p>

<p>• Чипсы картофельные «Онега» пластинки со вкусом томат с зеленью, 100 г;</p>

<p>• Чипсы картофельные «Онега» пластинки со вкусом баварских колбасок, 100 г;</p>

<p>Упаковка – специальная Упаковка Игрового продукта с логотипом Рекламной игры, на внутренней стороне которой
    расположен Уникальный код.</p>

<p></p>

<p>Уникальный код – буквенно-цифровой десятизначный код, который располагается на внутренней стороне Упаковки игрового
    продукта.</p>

<p></p>

<p>Порядковый номер участника – это номер, который присваивается участнику после регистрации 1 (одного) уникального кода
    с Упаковки Игрового продукта.</p>

<p></p>

<p>Текущий розыгрыш – каждый розыгрыш Рекламной игры, проходящий в установленную дату и время в соответствии с Правилами
    Рекламной игры.</p>

<p>1. Организатор Рекламной игры</p>

<p></p>

<p>Организатором Рекламной игры является Производственное общество с дополнительной ответственностью «Онега»,
    зарегистрированное Решением Минского городского исполнительного комитета от 02 июня 2000 года № 334 в Едином
    государственном регистре юридических лиц и индивидуальных предпринимателей за №600124575 (далее – Организатор).
    Местонахождение Организатора: Республика Беларусь, Минская обл. Минский р-н, Колодищанский с/с, 2, КПП, ком. 1. УНН
    600124575. Электронный адрес: info@onega.by</p>

<p>2. Участники Рекламной игры</p>

<p>К участию в Рекламной игре приглашаются все граждане Республики Беларусь, постоянно проживающие в Республике
    Беларусь, а также иностранные граждане и лица без гражданства, имеющие вид на жительство на территории Республики
    Беларусь и постоянно проживающие в Республике Беларусь.</p>

<p>В Рекламной игре не имеют права участвовать лица, состоящие в трудовых отношениях с Организатором, супруг (супруга)
    таких лиц, их близкие родственники, а также лица, находящиеся с такими лицами в отношениях свойства;</p>

<p>3. Наименование Рекламной игры: «Онега. Вкусно перекуси – с удовольствием отдохни!».</p>

<p>4. Территория проведения Рекламной игры: Республика Беларусь.</p>

<p>5. Срок начала Рекламной игры: 09 июня 2014 г.</p>

<p>6. Срок окончания Рекламной игры: 01 августа 2014 г.</p>

<p>7. Наименование товаров, в целях стимулирования реализации которых проводится Рекламная игра:</p>

<p>товары, выпускаемые под товарным знаком «Онега», содержащие ленту или ярлык на лицевой стороне упаковки, а
    именно:</p>

<p>• Чипсы «Онега» со вкусом сметаны и лука, 60 г;</p>

<p>• Чипсы «Онега» со вкусом сыра, 60 г;</p>

<p>• Снэки «Онега» со вкусом лука и сметаны, 25 г;</p>

<p>• Снэки «Онега» со вкусом лечо, 25 г;</p>

<p>• Снэки «Онега» со сыра, 25 г;</p>

<p>• Снэки «Онега» со вкусом пекинской утки, 25 г;</p>

<p>• Снэки «Онега» со вкусом лука и сметаны, 75 г;</p>

<p>• Снэки «Онега» со вкусом лечо, 75 г;</p>

<p>• Снэки «Онега» со сыра, 75 г;</p>

<p>• Снэки «Онега» со вкусом пекинской утки, 75 г;</p>

<p>• Чипсы картофельные «Онега» пластинки со вкусом лука и сметаны, 50 г;</p>

<p>• Чипсы картофельные «Онега» пластинки со вкусом сыра, 50 г;</p>

<p>• Чипсы картофельные «Онега» пластинки со вкусом курицы гриль, 50 г;</p>

<p>• Чипсы картофельные «Онега» пластинки со вкусом лука и сметаны, 100 г;</p>

<p>• Чипсы картофельные «Онега» пластинки со вкусом сыра, 100 г;</p>

<p>• Чипсы картофельные «Онега» пластинки со вкусом курицы гриль, 100 г;</p>

<p>• Чипсы картофельные «Онега» пластинки со вкусом маринованных огурчиков, 100 г;</p>

<p>• Чипсы картофельные «Онега» пластинки со вкусом томат с зеленью, 100 г;</p>

<p>• Чипсы картофельные «Онега» пластинки со вкусом баварских колбасок, 100 г;</p>

<p>8. Призовой фонд Рекламной игры</p>

<p></p>

<p>Призовой фонд Игры формируется за счет имущества ПОДО “Онега” и составляет 231 825 792 (двести тридцать один миллион
    восемьсот двадцать пять тысяч семьсот девяноста два) белорусских рубля с НДС и включает следующие призы:</p>

<p>Таблица №1</p>
<table class="simple-table">
    <tbody>
    <tr>
        <td>
            № п\п
        </td>
        <td>
            Наименование приза
        </td>
        <td>
            Количество
        </td>
        <td>
            Призовая стоимость, белорусских рублей
        </td>
        <td>
            Всего с НДС, белорусских рублей
        </td>
    </tr>
    <tr>
        <td>
            Главный приз
        </td>
        <td>
            Два тура "Туристическое путешествие Минск-Краков-Прага-Дрезден-Минск" на одного человека каждый (итого на
            двоих) и денежное вознаграждение в размере 640 584 белорусских рубля (далее - Главный приз)
        </td>
        <td>
            12
        </td>
        <td>
            5 978 784
        </td>
        <td>
            71 745 408
        </td>
    </tr>
    <tr>
        <td>
            Приз №1
        </td>
        <td>
            Гамак с подушкой "Майами"
        </td>
        <td>
            60
        </td>
        <td>
            360 050.4
        </td>
        <td>
            21 603 024
        </td>
    </tr>
    <tr>
        <td>
            Приз №2
        </td>
        <td>
            Мяч футбольный Street
        </td>
        <td>
            300
        </td>
        <td>
            125 210.4
        </td>
        <td>
            37 563 120
        </td>
    </tr>
    <tr>
        <td>
            Приз №3
        </td>
        <td>
            Плед пляжный
        </td>
        <td>
            600
        </td>
        <td>
            80 240.4
        </td>
        <td>
            48 144 240
        </td>
    </tr>
    <tr>
        <td>
            Приз №4
        </td>
        <td>
            Сумка Basic на длинных лямках, красная
        </td>
        <td>
            1 000
        </td>
        <td>
            32 910
        </td>
        <td>
            32 910 000
        </td>
    </tr>
    <tr>
        <td>
            Приз №5
        </td>
        <td>
            Летающая тарелка
        </td>
        <td>
            1 000
        </td>
        <td>
            19 860
        </td>
        <td>
            19 860 000
        </td>
    </tr>
    <tr>
        <td>
            &nbsp;
        </td>
        <td>
            ИТОГО:
        </td>
        <td>
            2 972
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            231 825 792
        </td>
    </tr>
    </tbody>
</table>
<p></p>

<p>Описание тура "Туристическое путешествие Минск-Краков-Прага-Дрезден-Минск":</p>

<p>Маршрут туристического путешествия: Минск-Краков-Прага-Дрезден-Минск</p>

<p>Дата и время начала: 20.08.2014 – выезд ориентировочно в 10.00 утра (возможны изменения)</p>

<p>Дата и время окончания: 24.08.2014 – после 19.00 (возможны изменения)</p>

<p>Вид транспортного средства основной перевозки: автобус</p>

<p>Характеристика объектов для размещения туристов (характеристика номеров): 1-комнатный 2-местный «стандарт»,
    1-комнатный, 3-местный «стандарт». В номере: душ, туалет, умывальник, телевизор.</p>

<p>Порядок обеспечения питания туриста: завтрак в средстве размещения</p>

<p>Экскурсионные услуги, входящие в тур: Обзорная пешеходно-автобусная экскурсия по Кракову (Польша), обзорная
    пешеходно-автобусная экскурсия по Праге (Чехия), обзорная пешеходно-автобусная экскурсия по Дрездену (Германия).</p>

<p>9. Порядок участия в Рекламной игре</p>

<p></p>

<p>9.1. Для участия в Рекламной игре необходимо в срок с 09.06.2014 по 20.07.2014 включительно:</p>

<p></p>

<p>9.1.1. купить любой Игровой продукт в Упаковке для участия в розыгрыше Призов и Главных призов</p>

<p>9.1.2. обнаружить на внутренней стороне или внутри Упаковки Уникальный код;</p>

<p>9.1.3. зарегистрировать каждый Уникальный код на интернет-сайте www.igra.onega.by (далее – Интернет-сайт):</p>

<p>Участнику необходимо заполнить регистрационную форму, указав Уникальный код и персональные данные: (фамилия, имя,
    отчество, почтовый адрес Участника: почтовый индекс (желательно), область (желательно), район (желательно),
    населенный пункт, улица, дом, корпус (при наличии), номер квартиры (при наличии)), а также адрес электронной почты и
    номер мобильного телефона Участника.</p>

<p>В случае если при регистрации Участник вводит 5 (пять) неверных Уникальных кодов в течение суток в поле ввода кода
    регистрационной формы на Интернет-сайте www.igra.onega.by данный Участник блокируется от участия в Рекламной игре на
    24 часа. Если блокировка Участника происходит 3 (три) раза в период с 09.06.2014 по 20.07.2014 включительно, данный
    Участник лишается права участвовать в Рекламной игре в дальнейшем.</p>

<p>Регистрировать Уникальные коды Участник может по мере приобретения Игрового продукта. Порядковый номер Участника
    присваивается после регистрации 1 (одного) Уникального кода, номера присваиваются по времени и дате регистрации.</p>

<p>9.2. Один Уникальный код может принимать участие в Рекламной игре только один раз. В том случае, если Уникальный код
    будет введен более одного раза, он будет приниматься только один раз по факту первого ввода Уникального кода.</p>

<p>9.3. Каждый Участник может принимать участие в Рекламной игре неограниченное количество раз при условии покупки
    Игрового продукта и выполнения требований, необходимых для участия в Рекламной игре.</p>

<p>9.4. Участники при заполнении регистрационной формы на Интернет-сайте www.igra.onega.by обязаны вводить достоверную
    информацию. В случае недостоверности введённой на сайте информации Организатор оставляет за собой право исключить
    Участника из розыгрыша.</p>

<p>9.5. Организатор не несет ответственности за ошибки, допущенные Участниками Рекламной игры при вводе или отправке
    Уникального кода, и за достоверность сведений, указанных при регистрации на Интернет-сайте.</p>

<p>9.6. Организатор не вступает в спор в случае возникновения споров об определении принадлежности Уникального кода тому
    или иному лицу. Все Участники должны сохранить Упаковку с Уникальным кодом до окончания Рекламной игры.</p>

<p>10. Место, даты, время и порядок проведения Розыгрышей призового фонда, порядок определения победителей Рекламной
    игры.</p>

<p></p>

<p>Розыгрыши Призов и Главных призов проходят 24 июня 2014 года, 8 июля 2014 года, 22 июля 2014 года в 10.00 по адресу:
    Республика Беларусь, Минская обл. Минский р-н, Колодищанский с/с, 2, Промышленная 6.</p>

<p>10.1 На каждый 1 (один) зарегистрированный Уникальный код Организатор оформляет одну карточку Участника, которая
    содержит порядковый номер Участника.</p>

<p>10.2. Розыгрыши призов проводятся 1 (один) раз в две недели в установленные в Таблице №2.</p>

<p>Таблица №2. Розыгрыши Призов и Главных призов</p>

<p></p>
<table class="simple-table">
    <tbody>
    <tr>
        <td rowspan="2">
            Дата розыгрыша
        </td>
        <td colspan="2">
            Принимают участие коды, зарегистрированные
        </td>
        <td rowspan="2">
            Призы для розыгрыша
        </td>
    </tr>
    <tr>
        <td>с</td>
        <td>по</td>
    </tr>
    <tr>
        <td>
            24.06.2014
        </td>
        <td>
            09.06.2014 (00:00)
        </td>
        <td>
            22.06.2014 (23:59:59)
        </td>
        <td>
            4 (четыре) главных приза ─ Два тура "Туристическое путешествие Минск-Краков-Прага-Дрезден-Минск" на одного
            человека каждый (итого на двоих) и денежное вознаграждение;<br>
            20 (двадцать) гамаков с подушкой "Майами";<br>
            100 (сто) мячей футбольных Street;<br>
            200 (двести) плед пляжных;<br>
            300 (триста) сумок Basic на длинных лямках, красных;<br>
            300 (триста) летающих тарелок.<br>
            Призы разыгрываются в вышеуказанной последовательности.
        </td>
    </tr>
    <tr>
        <td>
            08.07.2014
        </td>
        <td>
            23.06.2014 (00:00)
        </td>
        <td>
            06.07.2014 (23:59:59)
        </td>
        <td>
            4 (четыре) главных приза ─ Два тура "Туристическое путешествие Минск-Краков-Прага-Дрезден-Минск" на одного
            человека каждый (итого на двоих) и денежное вознаграждение;<br/>
            20 (двадцать) гамаков с подушкой "Майами";<br/>
            100 (сто) мячей футбольных Street;<br/>
            200 (двести) плед пляжных;<br/>
            300 (триста) сумок Basic на длинных лямках, красных;<br/>
            300 (триста) летающих тарелок.<br/>
            Призы разыгрываются в вышеуказанной последовательности.
        </td>
    </tr>
    <tr>
        <td>
            22.07.2014
        </td>
        <td>
            07.07.2014 (00:00)

        </td>
        <td>
            20.07.2014 (23:59:59)
        </td>
        <td>
            4 (четыре) главных приза ─ Два тура "Туристическое путешествие Минск-Краков-Прага-Дрезден-Минск" на одного
            человека каждый (итого на двоих) и денежное вознаграждение;<br/>
            20 (двадцать) гамаков с подушкой "Майами";<br/>
            100 (сто) мячей футбольных Street;<br/>
            200 (двести) плед пляжных;<br/>
            400 (четыреста) сумок Basic на длинных лямках, красных;<br/>
            400 (четыреста) летающих тарелок.<br/>
            Призы разыгрываются в вышеуказанной последовательности.<br/>
        </td>
    </tbody>
</table>
<p></p>

<p>10.3. Механика проведения розыгрыша:</p>

<p>На каждый 1 (один) зарегистрированный Уникальный код Организатор оформляет одну карточку Участника, которая содержит
    порядковый номер Участника. Карточки распечатываются, засыпаются, перемешиваются, затем один из членов комиссии
    вынимает карточки в количестве, соответствующем количеству победителей в розыгрыше.</p>

<p></p>

<p>11. Порядок уведомления победителей о результатах розыгрыша, порядок получения выигрыша.</p>

<p>11.1. Победители Рекламной игры, выигравшие Призы извещаются о выигрыше по электронной почте, а также одним из
    следующих способов: посредством SMS-рассылки на указанные при регистрации на Интернет-сайте номера сотовых телефонов
    операторов, звонком по телефону в течение 3 (трёх) календарных дней после проведения каждого розыгрыша Призов.</p>

<p>Победители Рекламной игры извещаются о выигрыше Главного приза заказным письмом с уведомлением, высланным
    Организатором по указанному Участником при регистрации Уникальных кодов почтовому адресу в течение 3 (трёх)
    календарных дней после проведения каждого розыгрыша Призов. Организатор также оставляет за собой право дополнительно
    уведомлять победителей любым удобным ему способом: посредством SMS-рассылки на указанные при регистрации на
    Интернет-сайте номера сотовых телефонов операторов, по электронной почте, звонком по телефону.</p>

<p>11.2. Организатор при выдаче выигрышей Участникам Рекламной игры признается налоговым агентом и несет ответственность
    за соблюдение действующего налогового законодательства Республики Беларусь.</p>

<p>11.2.1. При выдаче Главного приза Организатор удерживает и перечисляет подоходный налог с суммы Главного приза в
    порядке, установленном законодательством Республики Беларусь.</p>

<p>11.3. Для получения Главного приза и Призов победитель должен в течение 10 (десяти) дней со дня розыгрыша явиться в
    Офис Организатора по адресу: 223051, РБ, Минская обл., Минский р-н, пос. Колодищи 1, ул. Промышленная, 6,
    предварительно связавшись с представителем организатора по телефону «горячей линии» 8 (029) 70-100-20 с 8.30 до
    17.00 в будние дни. При себе необходимо иметь паспорт или вид на жительство и Упаковку от Игрового продукта с
    выигрышным Уникальным кодом.</p>

<p>11.4. Выдача Главного приза будет производиться путем вручения Сертификата на тур "Туристическое путешествие
    Минск-Краков-Прага-Дрезден-Минск" и предоставления контактных данных туристического агентства ООО "Интер Холидей
    Сервис", реализующего услуги, предусмотренные Сертификатом на тур "Туристическое путешествие
    Минск-Краков-Прага-Дрезден-Минск". Далее победителю в срок до 1 августа 2014 года (включительно) необходимо
    обратиться в туристическое агентство "Интер Холидей Сервис", находящееся по адресу: г. Минск, ул. Ленинградская, д.
    5, офис 206А, 2 этаж, для дальнейших договоренностей с туристическим агентством по получению услуг, предусмотренных
    Сертификатом на туристический тур "Туристическое путешествие Минск-Краков-Прага-Дрезден-Минск".</p>

<p>11.5. В случае если Призы и Главный приз не получены в установленные Правилами Рекламной игры сроки, либо с
    победителями не удается связаться и уведомить о выигрыше из-за некорректных данных, указанных при регистрации
    Уникального кода, либо был представлен письменный отказ от получения Призов и Главного приза в установленные сроки,
    Призы и Главный приз остаются в распоряжении Организатора.</p>

<p>11.6. Организатор не оплачивает Участникам Рекламной игры расходы, связанные с проездом к месту получения Призов, а
    также Главного приза.</p>

<p>11.7. В случае если Победителем Рекламной игры является несовершеннолетний Участник, Призы и Главный приз выдаются
    законному представителю (родителю, усыновителю, попечителю) при предъявлении паспорта гражданина Республики
    Беларусь/ вида на жительство на территории Республики Беларусь законного представителя и свидетельства о рождении
    ребенка (иного документа, подтверждающего представительство несовершеннолетнего лица).</p>

<p>11.8. В случае если Победитель не может получить Приз и Главный приз лично, его может получить его доверенное лицо по
    предъявлении своего паспорта (вида на жительство) и доверенности от Победителя, заверенной нотариально.</p>

<p>11.9. Организатор Рекламной игры не несет ответственности за любые риски, связанные с повреждением Призов и их
    эксплуатацией, возникшие после передачи Призов Победителям.</p>

<p>12. Комиссия по проведению Рекламной игры</p>

<p>12.1. Для контроля за соблюдением Правил Рекламной игры, утверждением результатов, подведением итогов по результатам
    проведения Рекламной игры, рассмотрением спорных случаев, принятием решений по устным и письменным жалобам и
    замечаниям, возникшим при проведении Рекламной игры, Организатор создает Комиссию по проведению Рекламной игры в
    следующем составе:</p>

<p>Председатель Комиссии Ивановская Марина Геннадьевна, начальник отдела рекламы ПОДО "Онега"</p>

<p>Члены комиссии:</p>

<p>1. Сельчёнок Роман Александрович, бренд-менеджер, ПОДО "Онега";</p>

<p>2. Карманович Екатерина Викторовна, специалист отдела рекламы ПОДО "Онега";</p>

<p>3. Певнев Глеб Владимирович, специалист отдела рекламы ПОДО "Онега";</p>

<p>4. Вронский Дмитрий Анатольевич, заместитель директора ООО "Снекпро".</p>

<p>13. Информация о Рекламной игре, публикация Правил Рекламной игры</p>

<p>13.1. Правила Рекламной игры подлежат опубликованию в газете «Антенна» до начала Рекламной игры.</p>

<p>13.2. Результаты Рекламной игры будут опубликованы в газете «Антенна» в срок до 1 августа 2014 г. включительно.</p>

<p>13.3. Имена победителей Рекламной игры будут размещены на Интернет-сайте www.igra.onega.by на следующий день после
    проведения каждого розыгрыша Призов.</p>

<p>13.4. Информацию о правилах и условиях участия в Рекламной игре можно получить на Интернет-сайте www.igra.onega.by ,
    а также по телефону горячей линии: 8 (029) 70-100-20 с 8.30 до 17.00 в будние дни</p>

<p>14. Прочие условия</p>

<p>14.1. Участие в Рекламной игре предполагает ознакомление и полное согласие Участников с настоящими Правилами и
    принятие на себя обязательства соблюдать все их условия и требования.</p>

<p>14.2. Участники Рекламной игры, претендующие на получение Призов и Главного приза, обязуются заполнить и подписать
    все необходимые для получения выигрыша документы, предоставляемые Организатором Рекламной игры.</p>

<p>14.3. Факт участия в Рекламной игре означает, что ее Участники соглашаются с тем, что их имена, фамилии, отчества,
    фотографии, видео-, аудио- и иные материалы о них могут быть использованы Организатором в любых рекламных и (или)
    информационных материалах, связанных с проведением Рекламной игры, без уплаты какого-либо вознаграждения Участникам.
    Победитель Рекламной игры дает свое согласие на интервью в средствах массовой информации и съемку для рекламных
    материалов, подготовленных в связи с проведением данной Рекламной игры, без выплаты ему какого-либо вознаграждения.
    Все права на такие рекламные материалы принадлежат Организатору.</p>

<p>14.4. Организатор не несет ответственности за работу сети Интернет (например, плохое соединение с провайдером,
    поломки в сети и т.д.) и почтовых служб (сроки доставки, сохранность приза и т.д.).</p>

<p>14.5. Организатор не несет ответственности за невозможность связаться с Участником в случае недостоверной информации,
    предоставленной Участником.</p>

<p>14.6. Организатор оставляет за собой право произвести экспертизу Упаковки с выигрышными Уникальными кодами,
    предъявленными победителями Рекламной игры, для определения их подлинности.</p>

<p>Все упаковки с выигрышными Уникальными кодами, по которым получены Призы и Главный приз, передаются Организатору и
    возврату Участникам не подлежат.</p>

<p>14.7.Споры между Организатором и Участниками Рекламной игры рассматриваются в судебном порядке согласно
    законодательству Республики Беларусь.</p>

<p>14.8. Возможные претензии участников в отношении организации Игры должны быть адресованы Организатору Игры по адресу:
    223051, РБ, Минская обл., Минский р-н, пос. Колодищи 1, ул. Промышленная, 6. Тел. «горячей линии» (029) 70 – 100 –
    20. Телефон организатора: (017) 500 53 10.</p></div>
</div>
</div>
<div class="img-popup">
    <img src="{% static 'img/big-img.jpg' %}"/>

    <div class="popup-paging">
        <div class="popup-paging__left">
            <a class="nav__arrow nav__arrow--left nav__arrow--left--dark" href="#"><!----></a>
            <a class="nav__buttons nav__buttons--dark nav__buttons--prev nav__buttons--prev--dark"
               href="#">Предыдущая</a>
        </div>
        <div class="popup-paging__right">
            <a class="nav__buttons nav__buttons--dark nav__buttons--next nav__buttons--next--dark"
               href="#">Следующая</a>
            <a class="nav__arrow nav__arrow--right nav__arrow--right--dark" href="#"><!----></a>
        </div>
    </div>
</div>


    <div class="thank-popup">
        <span class="close-button"><!----></span>

            <div class="popup-content">
                {% if messages %}
        {% for message in messages %}
                <p>{{ message.tags }}</p>
                {{ message }}
                {% endfor %}
    {% endif %}
            </div>

    </div>

<div class="img-popup">
    <img src="{% static 'img/big-img.jpg' %}"/>

    <div class="popup-paging">
        <div class="popup-paging__left">
            <a class="nav__arrow nav__arrow--left nav__arrow--left--dark" href="#"><!----></a>
            <a class="nav__buttons nav__buttons--dark nav__buttons--prev nav__buttons--prev--dark"
               href="#">Предыдущая</a>
        </div>
        <div class="popup-paging__right">
            <a class="nav__buttons nav__buttons--dark nav__buttons--next nav__buttons--next--dark"
               href="#">Следующая</a>
            <a class="nav__arrow nav__arrow--right nav__arrow--right--dark" href="#"><!----></a>
        </div>
    </div>
</div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>

<!--
<script>
    $('form').on('submit', function (e) {
        if($(this).attr('id') === 'reset_password_form') {
            e.preventDefault();
            var width = $('.thank-popup').width();
            var pos = ($(document).width() - width) / 2;
            $('.thank-popup').find('.popup-content').html(
                    '<p>Внимание!</p>В связи с техническими работами восстановление паролей временно отключено. Через пару часов возможность добавления новых кодов будет включена!');
            $('.thank-popup').show();
            $('.popup-wrapper').show();
            $(window).scrollTop(0);
        }

        if ($(this).attr('id') === 'auth-form') {
            if ($(this).find('#tab1').css('display') === 'block') {
                e.preventDefault();
                var width = $('.thank-popup').width();
                var pos = ($(document).width() - width) / 2;
                $('.thank-popup').find('.popup-content').html(
                        '<p>Внимание!</p>В связи с техническими работами регистрация временно отключена. Через пару часов возможность добавления новых кодов будет включена!');
                $('.thank-popup').show();
                $('.popup-wrapper').show();
                $(window).scrollTop(0);
            }
        }
    })
</script>
--!>

<script src="{% static 'js/vendor/jquery.parallax.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery.scrollTo.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery.mcustomscrollbar.concat.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% if messages %}
    <script>
        $(window).load(function() {
            var width = $('.thank-popup').width();
            var pos = ($(document).width() - width) / 2;
            $('.thank-popup').show();
            $('.popup-wrapper').show();
            $(window).scrollTop(0);
        });
    </script>
{% endif %}
{% block js %}{% endblock %}
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-51714917-1', 'onega.by');
    ga('send', 'pageview');

</script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter25201679 = new Ya.Metrika({id:25201679,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    trackHash:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/25201679" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

</body>
</html>
